<div class="panel panel-default devise-form">
  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name),
                        html: { method: :post, class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
      <h2 class='text-center'>Не получили письмо?</h2>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= f.button :submit, "Выслать письмо повторно" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <% end %>
  </div>
</div>
