<% if user_signed_in? %>
  <%= simple_form_for comment do |f| %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.input :body, required: true, label: 'Написать комментарий' %>
    <%= f.button :submit %>
  <% end %>
<% else %>
  <div class="alert alert-info">
    <%= link_to 'Войдите', new_user_session_path %> или <%= link_to 'Зарегистрируйтесь', new_user_registration_path %>, чтобы оставить комментарий.
  </div>
<% end %>
