<div class="row">
    <h1 class='text-center'>Личный кабинет</h1>
    <hr>
  <div class="col-md-3">
    <%= react_component 'UserAvatarWidget', avatarUrl: current_user.avatar(:medium) %>
    <h3 class='text-center'> <%= current_user.username %> </h3>
  </div>
  <div class="col-md-9">
    <dl class='dl-horizontal'>
      <dt>Email</dt>
      <dd><%= current_user.email %></dd>
      <dt>Имя</dt>
      <dd><%= current_user.username %></dd>
      <% if current_user.email.present? %>
        <dt>Подписка</dt>
        <dd>
          <%= react_component 'Mailing', weekly_mailing: current_user.weekly_mailing? %>
          <%= link_to "Изменить свой пароль или email", edit_user_registration_path %> 
        </dd>
      <% end %>
    </dl>

    <%= render partial: "users/panels/#{current_user.role}_panel" %>

    <div class="panel panel-default">
      <div class="panel-heading">Любимые посты</div>
        <div class="panel-body">
          <% unless current_user.favorites.blank? %>
            <ul class="list-unstyled">
              <% current_user.favorites.each do |favorite| %>
                <li><%= link_to favorite.post.title, post_path(favorite.post)%></li>
              <% end %>
            </ul>
            <% else %>
              <h4>Скорее добавьте любимых постов!</h4>
          <% end %>
        </div>
    </div>
  </div>
</div>
