<div class="row">
  <div class="col-md-offset-3 col-md-9">
    <h1 class='text-center'>Личный кабинет</h1>
    <%= react_component 'UserAvatarWidget', avatarUrl: current_user.avatar(:medium) %>
    <h3> <%= current_user.username %> </h3>

    <%= render partial: "users/panels/#{current_user.role}_panel" %>

    <dl class='dl-horizontal'>
      <dt>email</dt>
      <dd><%= current_user.email %></dd>
      <dt>Имя</dt>
      <dd><%= current_user.username %></dd>
    </dl>
    <div class="panel panel-default">
      <div class="panel-heading">Любимые посты</div>
        <div class="panel-body">
          <% unless current_user.favorites.blank? %>
            <ul class="list-unstyled">
              <% current_user.favorites.each do |favorite| %>
                <li><%= link_to favorite.post.title, post_path(favorite.post)%></li>
              <% end %>
            </ul>
            <% else %>
              <h4>Скорее добавьте любимых постов!</h4>
          <% end %>
        </div>
    </div>
  </div>
</div>
