<h1>Истории</h1>
<div class="row">
  <% @histories.each do |history| %>
    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <h3> <%= history.title %> </h3>
      </div>
    </div>
    <div class="row history-preview">
      <div class="col-md-3">
        <%= image_tag history.user.avatar.url(:small), class: 'img-circle center-block' %>
        <p class='text-center'><%= history.user.username %> </p>
        <p class='text-center'>
          <span class="glyphicon glyphicon-comment"></span> <%= history.comments.size %>
          <span class="glyphicon glyphicon-eye-open"></span> <%= history.impressions %>
        </p>
      </div>

      <div class="col-md-9">
        <div class="history-preview__history">
          <%= to_markdown history.history %>
        </div>

        <%= link_to 'read this history ->', history_path(history.id), class: 'pull-right' %>
        <div class="clearfix"></div>
        <hr>
      </div>
    </div>
  <% end %>
</div>

<%= render 'pager' %>
