<h1 class='text-center'>Истории</h1>
<div class="row">
  <% @histories.each do |history| %>
    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <h3> <%= history.title %> </h3>
      </div>
    </div>
    <div class="row history-preview">
      <div class="col-md-3">
        <%= image_tag history.user.avatar.url(:small), class: 'img-circle center-block' %>
        <p class='text-center'><%= history.user.username %> </p>
        <p class='text-center'><%= formated_date history %> </p>
      </div>

      <div class="col-md-9">
        <%= render partial: 'histories/crud_links', locals: { history: history } %>
        <div class='icon-box'>
            <span class="icon-box__eye"></span> <%= history.impressions %>
            <span class="icon-box__message"></span> <%= history.comments.size %>
        </div>
        <div class="history-preview__history">
          <%= to_markdown history.history %>
        </div>

        <b> <%= link_to 'Читать историю', history_path(history.id), class: 'pull-right post__read-this' %> </b>
        <div class="clearfix"></div>
        <hr>
      </div>
    </div>
  <% end %>
</div>

<%= render 'pager' %>
