<%= simple_form_for post do |f| %>
  <%= f.input :category_id, collection: categories, label_method: :title, value_method: :id, include_blank: false %>
  <%= f.input :avatar, as: :file %>
  <%= f.input :title %>
  <%= f.input :sinopsis %>
  <%= f.input :body %>
  <%= f.button :submit, 'Создать пост' %>
<% end %>
<hr/>
<%= render partial: 'md_helper' %>
<p>
  А теперь можно пользоваться emoji смайликами! Например :cat: и :heart: <%= to_markdown('превратятся в :cat: :heart:') %>
  Все смайлики можно посмотреть по этой <a href="http://www.emoji-cheat-sheet.com/">ссылке</a>
</p>
<p>
  Теперь можно добавлять превью сайтов! Например <br>
  <b>[preview]https://www.youtube.com/watch?v=tAGnKpE4NCI[/preview]</b> <br>
  и вы увидите превью youtube видоса.
  Обязательно пользуйтесь предпросмотром. <br>
  Список поддерживаемых сайтов и файлов: amazon, audio file, github, google calendar, google docs, google maps, google play, image files, imgur, pastebin, steam store, soundcloud, twitter, video files, wikipedia, youtube, youku
</p>
<hr/>
<%= react_component 'PictureUploader' %>
<%= react_component 'MdPreview', element_id: '#post_body' %>
