<div class="row">
  <div class="col-md-offset-3 col-md-9">
    <h3> <%= post.title %> </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= image_tag post.user.avatar.url(:small), class: 'img-circle center-block' %>
    <p class='text-center'><%= post.user.email %> </p>
  </div>

  <div class="col-md-9">
    <%= link_to post do %>
      <%= image_tag post.avatar.url(:medium) %>
    <% end %>
    <p>
      <%= to_markdown post.sinopsis %>
    </p>
    <%= link_to 'read this post ->', post_path(post.id), class: 'pull-right' %>
    <div class="clearfix"></div>
    <hr>
  </div>
</div>
