<div class="row">
  <div class="col-md-offset-3 col-md-9">
    <h3> <%= post.title %> </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= image_tag post.user.avatar.url(:small), class: 'img-circle center-block' %>
    <p class='text-center'><%= post.user.username %> </p>
    <p class='text-center'><%= post.category.title %> </p>
    <p class='text-center'>
      <span class="glyphicon glyphicon-eye-open"></span> <%= post.impressions %>
      <span class="glyphicon glyphicon-comment"></span> <%= post.comments.size %>
    </p>
  </div>

  <div class="col-md-9 post__preview">
    <%= link_to post do %>
      <%= image_tag post.avatar.url(:medium) %>
    <% end %>
    <p>
      <%= to_markdown post.sinopsis %>
    </p>
    <% if user_signed_in? && policy(post).update? %>
      <%= render partial: 'posts/crud_links', locals: { post: post } %>
    <% end %>
    <%= link_to 'read this post ->', post_path(post.id), class: 'pull-right' %>
    <div class="clearfix"></div>
    <hr>
  </div>
</div>
