<div class="row">
  <div class="col-md-3">
    <%= image_tag @post.user.avatar.url(:small), class: 'post__avatar img-circle center-block' %>
    <p class='text-center'><%= @post.user.email %> </p>
  </div>

  <div class="col-md-9">
    <h2><%= @post.title %></h2>
    <p><i><%= to_markdown @post.sinopsis %></i></p>
    <hr>
    <%= image_tag @post.avatar.url(:medium) %>
    <div>
      <%= to_markdown @post.body %>
    </div>
  </div>
</div>
