<% content_for :title, @post.title %>
<% content_for :description, @post.sinopsis %>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @post.user.avatar.url(:small), class: 'post__avatar img-circle center-block' %>
    <p class='text-center'><%= @post.user.username %> </p>
    <p class='text-center'><%= formated_date @post %> </p>
    <p class='text-center'><%= @post.category.title %> </p>
    <div class='text-center'>
      <div class='icon-box center-block'>
        <span class="icon-box__eye"></span> <%= @post.impressions %>
        <span class="icon-box__message"></span> <%= @post.comments.size %>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="post__main">
      <%= render partial: 'posts/crud_links', locals: { post: @post } %>
      <div class="pull-right">
        <%= react_component 'PostFavorites', @json_post %>
      </div>
      <h2>
        <%= @post.title %>
      </h2>

      <p><i><%= to_markdown @post.sinopsis %></i></p>
      <hr>
      <%= image_tag @post.avatar.url(:medium) %>
      <div>
        <%= to_markdown @post.body %>
      </div>
    </div>

    <div class="clearfix"></div>
    <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
    <div class="ya-share2" data-services="vkontakte,facebook,pocket,surfingbird"></div>

    <h3>Смотрите так же</h3>
    <hr/>

    <div class='posts-similar'>
      <% @post.similar.each do |post| %>
        <%= link_to post_path(post) do %>
          <div class='col-md-6'>
            <%= image_tag post.avatar.url(:medium), class: 'img-rounded' %>
            <%= link_to post.title, post_path(post) %>
            <p></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <h2>Комментарии</h2>
    <%= react_component 'CommentBox', url: comments_url(commentable_id: @post.id, commentable_type: 'Post'), commentable_type: 'Post', commentable_id: @post.id, isSignedIn: user_signed_in? %>
    <hr>
  </div>
</div>
