<div class="row">
  <div class="col-md-3">
    <%= image_tag @post.user.avatar.url(:small), class: 'post__avatar img-circle center-block' %>
    <p class='text-center'><%= @post.user.username %> </p>
    <p class='text-center'><%= @post.category.title %> </p>
    <p class='text-center'>
      <span class="glyphicon glyphicon-eye-open"></span> <%= @post.impressions %> 
      <span class="glyphicon glyphicon-comment"></span> <%= @post.comments.count %>
    </p>
  </div>

  <div class="col-md-9">
    <h2><%= @post.title %></h2>

    <% if user_signed_in? && policy(@post).update? %>
      <%= render partial: 'posts/crud_links', locals: { post: @post } %>
    <% end %>

    <p><i><%= to_markdown @post.sinopsis %></i></p>
    <hr>
    <%= image_tag @post.avatar.url(:medium) %>
    <div>
      <%= to_markdown @post.body %>
    </div>

    <h2>Комментарии</h2>
    <%= render partial: 'comments/form', locals: { post: @post, comment: @comment } %>
    <%= react_component 'CommentBox', url: comments_url(post_id: @post.id) %>
    <hr>
  </div>
</div>
