<!DOCTYPE html>
<html>
<head>
  <title>Ananas</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar__collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Ananas', root_path, class: 'navbar-brand' %>
        </div>

        <div class="collapse navbar-collapse" id="navbar__collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li> <%= link_to current_user.email, '/users/private_office' %> </li>
              <li> <%= link_to 'Выход', destroy_user_session_path, method: :delete %> </li>
            <% else %>
              <li> <%= link_to 'Вход', new_user_session_path %> </li>
              <li> <%= link_to 'Регистрация', new_user_registration_path %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <%= render 'layouts/messages' %>
  <div class="jumborton">
    <div class="container">
      <h1 class='text-center'>Ananas</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class='nav nav-pills'>
        <li> 
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"></span>
          <% end %>
        </li>
        <% Category.all.each do |category| %>
          <li> <%= link_to category.title, category_path(category.id) %></li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-9">
        <%= yield %>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              Amazing element here!
            </p>
            <p>
              Amazing element here!
            </p>
            <p>
              Amazing element here!
            </p>
            <p>
              Amazing element here!
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              Amazing element here!
            </p>
            <p>
              Amazing element here!
            </p>
            <p>
              Amazing element here!
            </p>
            <p>
              Amazing element here!
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="row">
      <hr>
      <ul class="list-inline text-center">
        <li><a href="#">amazing link</a></li>
        <li><a href="#">amazing link</a></li>
        <li><a href="#">amazing link</a></li>
        <li><a href="#">amazing link</a></li>
      </ul>
      <h3 class='text-center'>amazing footer here!</h3>
      <h4 class='text-center'>ananas</h4>
    </footer>
  </div>

</body>
</html>
